body{
    margin: 0;
    font-family: cursive;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.color-container{
    background-color: aqua;
    width: 300px;
    height: 150px;
    color: black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0), .5;
    border: solid blueviolet;
    border-radius: 10px;
}